.box-list {
	.box-item {
		clear: both;
		&_img {
			float: left;
			width: 20%;
			img {
				display: block;
				max-width: 100%;
			}
		}
		&_info {
			float: left;
			margin-left: 30px;
			color: #4a4a4a;
		}
	}
}